{% extends "AppBundle:Admin:layout.html.twig" %}

{% block containerUsers %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                   <h2 class="sub-header">Зарегистрированные пользователи</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Имя пользователя</th>
                                    <th>Электронный адрес</th>
                                    <th>Дата последнего захода</th>
                                    <th>Фамилия</th>
                                    <th>Отчество</th>
                                    <th>Зарегистрирован</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr> 
                                    <td>{{user.username}}</td>
                                    <td>{{user.email}}</td>
                                </tr>
                                  {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
{% endblock %}
